<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Incomes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="m-5">
    <h1>Wszystkie przychody</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Data</th>
            <th>Opis</th>
            <th>Wartość</th>
            <th>Edycja</th>
            <th>Usuwanie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction: ${transactions}">
            <td th:text="${transaction.date}"></td>
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.amount}"></td>
            <td><a th:href="@{'/edit?id=' + ${transaction.id}}" th:text="Edytuj"></a></td>
            <td><a th:href="@{'/remove?id=' + ${transaction.id}}" th:text="Usuń"></a></td>
        </tr>
        </tbody>
    </table>
    <p class="font-weight-bold" th:text="|Suma przychodów: ${sumOfIncomes}zł|"></p>
    <a th:href="@{'/expenses'}" th:text="Wydatki"></a>
</div>
</body>
</html>